@import url("https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Staatliches", cursive, sans-serif;
  min-height: 100vh;
  background-color: rgb(114, 95, 255);
}

#grid-container {
  box-sizing: content-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 702px;
  width: 702px;
  border: 1px solid black;
  background-color: white;
  margin: auto;
}

.cell {
  border: 1px solid black;
}

footer {
  width: 100%;
  height: 60px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

a {
  color: rgb(10, 4, 53);
  text-decoration: none;
}

#git {
  margin-left: 5px;
  width: auto;
  height: 24px;
}

.hover {
  background-color: black;
}

#header {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 8px 8px #ff1f8f, 20px 20px #000000;
  margin-bottom: 10px;
}
